:root {
    --main-white: #ebebde;
    --main-red: #e21340;
    --dark-red: #9e0d2c ;
    --main-dark: #161425;
    --old-white: #b9b8bd94;
  }
  
*{
    margin: 0px;
    Padding: 0px;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--main-white);
    background-color: var(--main-dark);
}



/* Nav Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3vh;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--main-dark);
}

    #j{
        /* display: inline; */
        /* float: left; */
        padding-left: 20px;
        font-size: 50px;
        font-weight: 800;
        color: var(--main-red);
        text-decoration: none;
        list-style: none;
    }

        #j:hover{
            transform: rotate(8deg);
            color: var(--main-white-)
        }

    .nav-links{
        display: flex;        
        width: 600px;
        justify-content: space-around;
        font-size: 20px;
        margin-right: 50px;
        font-weight: 500;
        list-style: none;
    }

    .nav-links a{
        color: var(--main-white);
        text-decoration: none;
        letter-spacing: 3px;
    }
        a:hover{
            color: var(--main-red);
            font-weight: 700;
        }

    
    .burger div{
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: var(--main-white);
        
    }

/* Homepage */
main{
    font-size: 4em;
    color: var(--main-red);
    height: 100vh;
    padding: 300px 100px 0px 200px; 
}

    #jarnett{
        padding-left: 120px;
        color: var(--main-white);
    }



/* About */
#about{
    height: 100vh;
    background-color: var(--main-white);
    color: var(--main-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
    h2{
        color: var(--main-red);
        margin: -20px 0 -10px 0;
    }

    #about-content{
        display: flex;
        justify-content: center;
        width: 90%;



    }

    #headshot{
        height: 500px; 
    }

    article{
        padding-left: 50px;
        font-size: 1.5em;
        width: 800px;
    }

    .sub-header{
        font-size: 6em;
    }



/* Portfolio */
#portfolio{
    height: 100vh;
    background-color: var(--main-dark);
    color: var(--main-white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    h3{
        font-size: 5em;
        color: var(--main-red);
        text-align: center;
    }

    #portfolio-table{
        margin-top: 40px;
    }


    .thumbnail{
        width: 300px;
        margin: 50px 60px 0px;
        border-radius: 20px;
    }

    table a{
        text-decoration: none;
        color: var(--main-white-);
    }

    .project-info{
        color: var(--main-white);
        width: 400px;
        font-size: 25px;
        text-align: center;
        margin: 20px;
        
    }
        
        

/* Resume */
#resume{
    height: 100vh;
    background-color: var(--main-white);
    color: var(--main-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px
}

    #resume-content{
        display: flex;
        justify-content: center;
    }

        #resume-content a {
            text-decoration: none;
        }

    #resume-img{
        height: 500px;
        margin-right: 80px;
        box-shadow: 5px 6px var(--old-white);
    }


    #resume-link{
        font-size: 55px;
        font-weight: 700px;
        padding-top: 80px;
    }

    #here{
        color: var(--main-red)
    }



/* Contact */
#contact{
    height: 100vh;
    background-color: var(--main-red);
    color: var(--main-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px
}

    #h2-contact{
        color: var(--main-dark);
        text-align: center;
    }

    #icons a {
        text-decoration: none;
        color: var(--main-dark);
    }


    i{
        font-size: 130px;
        padding: 40px;
        text-align: center;
    }

    i:hover{
        color: var(--main-white);
        transform: rotate(-10deg);
        font-size: 140px;
    }

/* media-queries */

@media only screen and (max-width: 1400px){
    body{
        /* background-color: red; */
    }
    h1{
        font-size: 9vw;
        /* background-color: pink;     */
    }
}

@media only screen and (max-width: 1050px){
    body{
        /* background-color: blue; */
    }
    main{
        padding: 300px 70px;
    }
    h1{
        /* background-color: pink; */
    }

}

@media only screen and (max-width: 750px){
    body{
        /* background-color: green; */
    }
    

}
